ul, li {

	margin: 0px;
}
.nav ul {
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
.nav li a {
	color: #fff;
	text-decoration: none;
}
.nav h2 {
	color: #fff;
	font-size: 40px
}
.container {
	background-color: #49688e;

}
.back {
	background-color: #334861;
	font-size: 30px;
	text-decoration: none;
	color: #fff;
}